<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nueva Materia</title>
	<!Link de bootstrap, para usar los estilos>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
			integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
	<form th:action="@{/materias/guardar}" th:object="${materia}" th:method="POST">
		<table class="table table-bordered border-primary">
			<tr>
				<td><label>Nombre:</label></td>
				<td><input type="text" th:field="${materia.nombre}"></td>
			</tr>
			<tr>
				<td><label>Codigo:</label></td>
				<td><input type="text" th:field="${materia.codigo}"></td>
			</tr>
			<tr>
				<td><label>nCreditos:</label></td>
				<td><input type="text" th:field="${materia.nCreditos}"></td>
			</tr>
			<tr>
				<td><label>nCreditos:</label></td>
				<td><input type="text" th:field="${materia.cedProfesor}"></td>
			</tr>
		</table>
		<input type="submit" value="Guardar">
	</form>
</body>

</html>